body {
    display: flexbox;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.main-title {
    font-family: "Oi";
    font-weight: 400;
    font-size: 3.5vw;
    text-align: center;
    line-height: 10px;
    margin-top: 4vw;
}

.pre-text {
    font-family: "Workbench";
    font-size: 1.4vw;
    text-align: center;
}

#canvas-container {
    border: 2px solid black;
    width: 95%;
    height: 65vh;
    margin: auto;
    border-radius: 20px;
    display: flex;
    background-image: url(canvas_bg.png);
    background-size: cover;
}

#canvas {
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    touch-action: none;
    background-color: aliceblue;
}

#controls {
    font-family: "Workbench";
    color: rgba(104, 104, 104, 0.902);
    margin-top: 30px;
    margin-left: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column
}

#colorPicker{
    border: 1px solid rgba(255, 255, 255, 0.749);
    background-color: #a18d8d2c;
    border-radius: 5px;
    width: 6vw;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: #a18d8d2c;
  border: 1px solid white;
  border-radius: 5px;
  height: 20px;
}

#clearCanvas {
    border: 1px solid rgba(255, 255, 255, 0.749);
    background-color: #a18d8d2c;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    color: rgba(104, 104, 104, 0.902);
    font-family: "Workbench";
}

.dText {
    font-family: Lexend Deca;
    font-weight: 400;
    text-align: center;
}

.dTitle {
    font-family: Workbench;
    font-weight: 700;
    text-align: center;
    font-size: 2vw;
}

#i-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    border: 1px solid black;
    border-radius: 30px;

    height: 20vw;
    width: 97%; 
    margin: auto;
}

.i-image {
    max-width: 50%;
    height: auto;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 20px;
    transition: 0.4s;
}

.i-image:hover {
    scale:1.2;
    box-shadow: 0 0 4vw #b5c6ffd7;
}

.i-title {
    text-align: center;
    font-family: Oi;
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 2px;
}

.i-text {
    text-align: center;
    font-family: Lexend Deca;
    font-weight: 400'
}

#nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    border: 1px solid black;
    border-radius: 20px;

    height: 7vw;
    width: 50%; 
    margin: auto;
}

.nav-button {
    border: 1px solid;
    border-radius: 10px;
    height: 3vw;
    width: 12vw;
    font-family: "Lexend Deca";
    font-weight: 800;
    font-size: 1.2vw;
    margin: auto;
    cursor: pointer;
    transition: 0.4s;
}

.nav-button:hover {
    box-shadow: 0 0 4vw #b5c6ffd7;
    border-color: aquamarine;
    background-color: rgb(193, 231, 238);
}

.nav-button[data-label="trail"]:hover {
    box-shadow: 0 0 6vw #be0286bc;
    border-color: rgb(110, 7, 95);
    background-color: rgb(5, 2, 10);
    color:white;
}

#text-container, #info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border: 1px solid black;
    border-radius: 30px;

    height: 34vh;
    width: 97%; 
    margin: auto;

    font-family: Lexend Deca;
    font-weight: 600;
    font-size: 1.2vw;
}

.hero-image {
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
    height: 28vw;
    width: 48vw;

    background-size: cover;
}

#footer {
    margin: auto;
    width: 100%;
    height: 20vw;
    background-color: rgb(8, 8, 26);
    text-align: center;
    justify-content: center;
    display: flex;
    color:aliceblue;

    font-family: Workbench;
    font-size: 2vw;
    flex-direction: column;
}


